*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .archive{
    position: absolute;
    left: 30%;
    top: 30%;
} */
.sidebox{
    display: flex;
}
.side{
    flex-grow: 1;
}
.wel{
    display: flex;
    position: absolute;
    left: 30vw;
    top: 20vw;
    /* justify-content: center;
    align-items: center; */
    z-index: 8;
}